<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'main/img/house-solid.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <title>Авторизация</title>
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password }}
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <div class="form-group">
            <button id="loginButton" type="button" class="btn btn-secondary" onclick="redirectToLogin()">У меня уже есть аккаунт</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static 'main/js/main.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if errors %}
                {% for field, error_list in errors.items %}
                    {% for error in error_list %}
                        toastr.error("{{ error|escapejs }}", "Ошибка");
                    {% endfor %}
                {% endfor %}
            {% endif %}
        });
    </script>
</body>
</html>
