{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'invpage/css/inv.css' %}">
    <link rel="stylesheet" href="{% static 'invpage/css/modal_window.css' %}">
    <link rel="icon" href="{% static 'invpage/img/pushed-brands-solid.svg' %}" type="image/x-icon">
</head>
<body>

<div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {% if request.user.is_superuser %}
        <a href="/admin/">Администратирование</a>
        <a href="{% url 'manage_requests' %}">Управление заявками</a>
        <a href="{% url 'reports' %}">Отчеты</a>
    {% else %}
        <a href="{% url 'track_requests' %}">Ваши заявки</a>
        <a href="{% url 'owned_inv' %}">Личный кабинет</a>
        <a href="{% url 'reports' %}">Отчеты</a>
        <a href="{% url 'about' %}">О нас</a>
    {% endif %}
</div>

<div id="main-content">
    <button class="openbtn" onclick="openNav()">&#9776; Меню</button>
    <h1>Привет {{ user_info.username }}👋, добро пожаловать на главную страницу</h1>

    <div class="toggle-section">
        <button class="btnlist" onclick="CButton()">Доступный инвентарь</button>
        <ul class="inventory-list good" id="inventory-list-good">
            {% for item in inventory_items %}
                <li>
                    <div class="inventory-card">
                        <h3>{{ item.name }}</h3>
                        <div class="status">
                            Статус:
                            <span class="status-indicator
                                {% if item.status == 'Исправен' %}good{% else %}bad{% endif %}">
                                {{ item.status }}
                            </span>
                        </div>
                        <p>Описание: {{ item.description }}</p>
                        <p>
                            Количество:
                            <span class="quantity-indicator
                                {% if item.quantity == 0 %}out-of-stock{% else %}in-stock{% endif %}">
                                {{ item.quantity }}
                            </span>
                        </p>

                        {% if item.quantity > 0 and item.status == 'Исправен' and not request.user.is_superuser %}
                            <button onclick="openModal('{{ item.name }}', '{{ item.quantity }}')" class="request-button">Отправить заявку</button>
                        {% elif item.quantity > 0 and item.status != 'Исправен' and not request.user.is_superuser %}
                            <div class="out-of-stock-message">Инвентарь не исправен</div>
                        {% elif not request.user.is_superuser %}
                            <div class="out-of-stock-message">Нет в наличии</div>
                        {% endif %}
                    </div>
                </li>
            {% empty %}
                <li>Нет доступного инвентаря.</li>
            {% endfor %}
        </ul>
    </div>

 
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Введите количество</h2>
            <form id="requestForm" method="POST" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="hidden" name="item_name" id="modal-item-name">
                <input type="number" name="quantity" id="modal-quantity" min="1" required>
                <button type="submit" style="margin-top: 20px;">Отправить заявку</button>
            </form>
        </div>
    </div>

</div>

<script src="{% static 'invpage/js/inv.js' %}"></script>
<script src="{% static 'invpage/js/modal_window.js' %}"></script>

</body>
</html>
