/* main/css/main.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: block; /* Убедитесь, что поля ввода отображаются */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: #4cae4c;
}

a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#message {
    text-align: center;
    margin-top: 15px;
}

.form-group {
    margin-bottom: 15px;
}

#loginButton {
    margin-top: 15px;
    background-color: #5cb85c;
}

#loginButton:hover {
    background-color: #4cae4c;
}
